@import "compass/css3/transition";

		 /**
Remove default margin
 	 **/

 body {
 	background-image: url("../images/black-Linen.png");
 	background-repeat: repeat;
 	background-attachment: fixed;
 	margin: 0;
}

.row {
	max-width: none;
	overflow: hidden;
	height: 100%;
}

	/**
Fonts
**/

@font-face {
	font-family: "Chomp";
	src: url("../fonts/Chomp.ttf");
}

	/**
Sidebar
**/

$sky_height: 1600px;
$sun_height: 1600px;
$mountain-far_height: 925px;
$mountain-near_height: 901px;
$grass-far_height: 883px;
$grass-mid_height: 856px;
$grass-near_height: 834px;
$lake_height: 778px;
$center: 1100px;

.sidebar {
	width: 320px;
	overflow: hidden;
	z-index: 4;
	margin: 0;
	height: 100%;
	padding: 0px;
	position: fixed;
	color: #fff;
	min-height: 720px;

	div.sky{
		background-image: url('../images/sky.png');
		height: $sky_height;
		top: $center - $sky_height;
	}
	div.sun{
		background-image: url('../images/sun.png');
		height: $sun_height;
		top: $center - $sun_height;
	}
	div.mountain-far{
		background-image: url('../images/mountain-far.png');
		height: $mountain-far_height;
		top: $center - $mountain-far_height;
	}
	div.mountain-near{
		background-image: url('../images/mountain-near.png');
		height: $mountain-near_height;
		top: $center - $mountain-near_height;
	}
	div.grass-far{
		background-image: url('../images/grass-far.png');
		height: $grass-far_height;
		top: $center - $grass-far_height;
	}
	div.grass-mid{
		background-image: url('../images/grass-mid.png');
		height: $grass-mid_height;
		top: $center - $grass-mid_height;
	}
	div.grass-near{
		background-image: url('../images/grass-near.png');
		height: $grass-near_height;
		top: $center - $grass-near_height;
	}
	div.lake{
		background-image: url('../images/lake.png');
		height: $lake_height;
		top: $center - $lake_height ;
	}

	>div {
		width: 100%;
		background-position: center bottom;
		background-size: 100% auto;
		background-repeat: no-repeat;
		position: absolute;
		bottom: -150px;
		transition: top 0.6s ease-out;
		overflow: visible;
		a.upload {
			top: 660px;
		}
		a.about{
			top: 20px;
		}
		a.made{
			top: 30px;
		}
	}
	a {
		display: block;
		position: relative;
		padding: 20px 10px;
		// display: table-cell;
		// vertical-align: middle;
		color: #000;
		transition: color, 0.2s, padding 0.2s, background-position 0.2s, transform 0.6s ease-out;
		width: 100%;
		p {
			font-family: Helvetica;
			font-size: 2em;
			margin-bottom: 0;
		}
	}
	a.title {
		position: relative;
		overflow: visible;
		height: 350px;
		h1 {
			letter-spacing: 15px;
			position: absolute;
			top: 275px;
			width: 100%;
			font-family: "Chomp", Arial, sans-serif;
			font-size: 72px;
			text-align: center;
			transition: top 0.6s, bottom 0.6s, font-size 0.6s, transform 0.6s, letter-spacing 0.6s, color 1s;
			color: #fff;
		}
	}

	a.menu-item{
		transition: color 0.4s, background-position 0.4s, padding-left 0.4s, transform 0.4s;
		transform: translateY(10px);
		position:absolute;
		text-align: center;
		background-position: left center;
		background-size: 200% 100%;
		i {
			transition: color 0.4s;
			font-size: 1em;
			color: rgba(255,255,255,0);
			position: absolute;
			right: 20px;
		}
	}
	a.menu-item:hover {
		background-position: right center;
	}

	a.upload{
		color: rgba(255 , 187, 51, 1);
		background-image: linear-gradient(to right, hsla(45, 100%, 60%, 0) 50%, rgba(32,32,32,.9) 50%);
	}
	a.about{
		color: rgba(128, 138, 206, 1);
		background-image: linear-gradient(to right, rgba(141, 151, 204, 0) 50%, rgba(32,32,32,.9) 50%);
	}
	a.made{
		color: rgba(63, 76, 137, 1);
		background-image: linear-gradient(to right, rgba(70, 84, 132, 0) 50%, rgba(32,32,32,.9) 50%);
	}
}

       /**   
Sidebar Hover
   **/

.sidebar:hover{
	background-position: center top;

	a.menu-item{
		transform: translateY(0);
		color: #222;
	}
	a.upload:hover{
		color: rgba(255 , 187, 51, 1);
		i{
			color: rgba(255 , 187, 51, 1);
		}
	}
	a.about:hover{
		color: rgba(128, 138, 206, 1);
		i{
			color: rgba(128, 138, 206, 1);
		}
	}
	a.made:hover{
		color: rgba(63, 76, 137, 1);
		i{
			color: rgba(63, 76, 137, 1);
		}
	}
	a.title h1{
		top: 50px;
		font-size: 100px;
		letter-spacing: 25px;
		transform: rotate(345deg);
		color: #fff;
	}
	a.title:hover h1{
		transform: rotate(-15deg);
	}
	div.sky{
		top: $center - $sky_height + 150px;
	}
	div.sun{
		top: $center - $sun_height + 225px;
	}
	div.mountain-far{
		top: $center - $mountain-far_height + 300px;
	}
	div.mountain-near{
		top: $center - $mountain-near_height + 375px;
	}
	div.grass-far{
		top: $center - $grass-far_height + 450px;
	}
	div.grass-mid{
		top: $center - $grass-mid_height + 515px;
	}
	div.grass-near{
		top: $center - $grass-near_height + 600px;
	}
	div.lake{
		top: $center - $lake_height + 675px;
	}
}

#made div {
	float: left;
	display: block;
	width:50%;
}

   /**
Media Queries
**/


		/**
Image Grid Stuff
	**/

.images, .image, img {
	margin: 0;
	padding: 0;
}

$zoomTiming: 0.2s;

.image {
	opacity: 0;
	// overflow: hidden;
	
	.imgContainer{
		position: relative;
		width:100%;
		overflow:hidden;
	}

	img {
		transition: transform $zoomTiming ease;
		width: 100%;
		z-index:1;
	}

	.imgText {
		z-index: 2;
		max-height: 50%;
		display: block;
		margin:0;
		padding: 10px 20px;
		width: 100%;
		position: absolute;
		transition: transform $zoomTiming ease;
		color: #fff;
		background-color: rgba(0,0,0,.7);
		font-family:Georgia;
	}

	.imgTitle{
		top:0;
		transform: translateY(-100%);
	}

	.imgDescription {
		top: 100%;
		-webkit-transform: translateY(0); 
	}

	&:hover{
		img{
			transform: scale(1.2,1.2);
		}
		.imgTitle {
			transform: translateY(0);
		}
		.imgDescription{
			transform: translateY(-100%);
		}
	}
}

// Image Upload Screen

.imgPreview {
	position: relative;
	margin: 20px auto;
	width: auto;
	max-height: 400px;
}

.rotateLeft{
	float:right;
}

.rotateRight{
	float:left;
}

canvas {
	display: none;
}

// Animation Classes

.inView {
	transition: all 0.5s ease;
	-webkit-animation-name: jumpIn;
	animation-name: jumpIn;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.outOfView {
	-webkit-animation-name: jumpOut;
	animation-name: jumpOut;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: 0;
}

// Animations for pictures

@-webkit-keyframes jumpIn {
	0% { opacity: 0; }
	// 25%{ -webkit-transform: translateY(30px); }
	// 50%{ -webkit-transform: translateY(0); }
	// 75%{ -webkit-transform: translateY(30px) translateX(-250px); }
	100%{ transform: translateY(0) translateX(0) rotate(360deg); opacity: 1; }
}

@keyframes jumpIn {
	0% { opacity: 0; }
	// 25%{ -webkit-transform: translateY(30px); }
	// 50%{ -webkit-transform: translateY(0); }
	// 75%{ -webkit-transform: translateY(30px) translateX(-250px); }
	100%{ transform: translateY(0) translateX(0) rotate(360deg); opacity: 1; }
}

@-webkit-keyframes jumpOut {
	0% {transform: translateY(0) translateX(0) rotate(0deg); opacity: 1; }
	100% { opacity: 0; transform: scale(0.1,0.1) }
}

@keyframes jumpOut {
	0% {transform: translateY(0) translateX(0) rotate(0deg); opacity: 1; }
	100% { opacity: 0; transform: scale(0.1,0.1) }
}