doctype html
html(lang="en")
	head
		title= title
		link(rel="stylesheet" href="stylesheets/style.min.css")
		link(rel="stylesheet" href="stylesheets/foundation-icons/foundation-icons.css")
	body
		block content

		script(src="javascript/main.min.js")